@import url('https://fonts.cdnfonts.com/css/gabarito');
body {
    background-image: url(img/background.jpg);
    font-family: 'Gabarito', sans-serif;
                                                
}


.container {
    display: flex;
    justify-content: space-between; /* Alinha as divs ao centro e distribui o espaço entre elas */
}

.left{
    background-color: #ffff;
    height: 500px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    display: flex;
    border-radius: 50px;
}

.right {
    background-color: #ffff;
    height: 500px;
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 50%;
    right: 14%;
    transform: translateY(-50%);
    flex-direction: column; 
    align-items: center;
    display: flex;
    border-radius: 50px;
}

.records {
    max-height: 200px;
    overflow-y: auto;
}

input {
    display: block;
    width: 40%;
    padding: 0px;
    font-size: 16px;
    border: hidden;
    border-bottom: 2px solid #92B0C8;
    outline: none;
    background-color: transparent;
    margin-bottom: 2rem;
  }

h2 {
    margin-bottom: 3rem;
}

button {
    margin-top: -2rem;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    background-color: #92B0C8;
    border-color: transparent;
}

@media screen and (max-width: 620px) {

    .container {
      background: transparent;
      box-shadow: none;
    }
  
    
  }