@import url("https://fonts.cdnfonts.com/css/gabarito");
body {
  background-image: url(img/background.jpg);
  background-size: cover;
  font-family: "Gabarito", sans-serif;
}

.logo {
  width: 200px;
  right: 45%;
  margin-top: -2rem;
}

h1 {
  font-size: 50px;
}

.login {
  background-color: #ffff;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 50px;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

input {
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: hidden;
  border-bottom: 2px solid #92b0c8;
  outline: none;
  background-color: transparent;
  margin-bottom: 2rem;
}

.enviar {
  margin-top: 8px;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  background-color: #92b0c8;
  border-color: transparent;
}

label {
  position: flex;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  color: #000;
  pointer-events: none;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}